<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
    <link href="https://allfont.es/allfont.css?fonts=anonymous-pro-bold-italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="arriba">
        <img src="imagenes/channels-616_logo_MinTIC.png" alt="" class="img">
        <button class="boton2"><i class="fa fa-home"></i>Inicio</button>
    </div>
    <form action="" class="formulario">
        <h1 class="titulo1">Encuesta Covid-19</h1>
            <div class="cedula">
                 <a  href ="" class="l">Cedula</a>
                <select name="" id="" class="s"></select>
            </div>
            <div>
                <a href=""class="l">Haz presentado temperaturas mas de 37 grados</a>
                <select name="" id="" class="s">
                    <option value="valor1">Verdadero</option>
                    <option value="valor2">Falso</option>
                </select>
            </div>
            <div>
                <a href="" class="l"> 2.- ¿Haz tenido contacto con personas diagnosticadas con Covid-19?:</a>
            </div>
                <label class="c">
                    <INPUT type = checkbox name = archivo value = "Verdadero" > SI
                    <INPUT type = checkbox name = archivo value ="Verdadero" > NO
                    <INPUT type = checkbox name = archivo value ="Verdadero" > NO SÉ
                </label>
            <div>
                <a href="" class="l">Haz tenido contacto con personas con Covid-19</a>
                <select name="" id="" class="s">
                    <option value="valor1">Verdadero</option>
                    <option value="valor2">Falso</option>
                </select>
            </div>
            <div>
                <a href="" class="l">Te han diagnosticado Covid-19</a>
                <select name="" id="" class="s">
                    <option value="valor1">Verdadero</option>
                    <option value="valor2">Falso</option>
                </select>
            </div>
            <div>
                <a href="" class="l">Haz tenido dificultad para respirar</a>
                <select name="" id="" class="s">
                    <option value="valor1">Verdadero</option>
                    <option value="valor2">Falso</option>
                </select>
            </div>
            <div>
                <a href="" class="l">Haz tenido dolores, congestión nasal, secreción nasal, dolor de garganta o diarrea o alguna de ellas</a>
                <select name="" id="" class="ultima">
                    <option value="valor1">Verdadero</option>
                    <option value="valor2">Falso</option>
                </select>
            </div>
            <div class="contenedor-botones">
                <button class="boton tres"><span>Enviar</span></button>
            </div>
            
            
    </form>
    
    

</body>
</html>