<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="imagenes/channels-616_logo_MinTIC.png" alt="">
    </div>
    <div>
        <h1>Bienvenido a la EPS MinTic</h1> 
        <h3>En esta EPS se va a analizar las personas que tienen Covid-19</h3>
        <h3>esto se va a utilizar para metodos investigativos</h3>
        <button>Responder encuesta</button>
    </div>
    <div>
        <img src="imagenes/articles-9306_foto_marquesina.jpg" alt="">
    </div>

</body>
</html>